$color_1: #303030;
$color_2: #065b9b;
$color_3: #747474;
$color_4: #ffffff;
$font_family_1: "Poppins", sans-serif;
$background_color_1: #ffffff;
$background_color_2: #065b9b;
$background_color_3: #f2f2f2;
$background_color_4: #00a297;
$background_color_5: #024273;
$background_color_6: #177ac5;
$background_color_7: #3c89c4;
$border_color_1: #f2f2f2;

body {
    overflow-x: hidden;
    font-family: $font_family_1;
    font-weight: 300;
    color: $color_1;
}
main {
    max-width: 768px;
    margin: auto;
}
hr {
    margin: 2em 0;
    border-top: 0.1em solid;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    border-color: $border_color_1;
}
a {
    text-decoration: none;
    color: $color_1;
}

/* Header Section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    .header__logo {
        width: 4em;
    }
    .header__menu {
        color: $color_2;
        cursor: pointer;
        font-size: 1.5em;
    }
    .header__search {
        color: $color_2;
        cursor: pointer;
        font-size: 1.5em;
    }
}
.profile {
    .profile__picture {
        width: 100%;
    }
}

/* Profile Summary Section */
.summary {
    position: relative;
    bottom: 2.3em;
    background-color: $background_color_1;
    padding: 2em 2em;
    border-radius: 2.5em 2.5em 0 0;
    .summary__presentation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .summary__title-bold {
        font-weight: 600;
        line-height: 0em;
    }
    .summary__title-muted {
        font-weight: 300;
        font-size: 0.8em;
        color: $color_3;
    }
    .summary__affiliation {
        display: inline-block;
        background-color: $background_color_2;
        color: $color_4;
        font-weight: 600;
        font-size: 1.3em;
        padding: 0.4em 0.45em;
        border-radius: 100%;
        cursor: default;
    }
    .summary__desc {
        color: $color_3;
        line-height: 1.5em;
    }
    .info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .status {
        display: flex;
        align-items: center;
        margin-top: 1.5em;
        height: 3.5em;
        border: 0.2em solid #ffffff;
        box-shadow: 0px 0px 0px 1px #f0f0f0;
        border-radius: 3px;
    }
    .about {
        display: flex;
        a {
            &:first-child {
                width: 65%;
            }
            &:last-child {
                width: 35%;
            }
        }
    }
}

/* Profile Info Section */
.info {
    .info__block {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        flex-direction: column;
        font-weight: 500;
        padding: 0.8em;
        width: 3.6em;
        height: 3.6em;
        background-color: $background_color_3;
        color: $color_3;
        border: 0.2em solid #ffffff;
        border-radius: 3px;
        box-shadow: 0px 0px 0px 1px #f0f0f0;
        margin-bottom: 0.5em;
        p {
            font-size: 0.7em;
            padding: 0;
            margin: 0;
            line-height: 130%;
        }
    }
}
.status {
    .status__caption {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        background-color: $background_color_3;
        color: $color_3;
        border-radius: 3px 0 0 3px;
        height: 3.5em;
        padding: 0;
        margin: 0;
        padding-left: 0.5em;
        h4 {
            font-size: 0.7em;
            font-weight: 500;
            padding: 0;
            margin: 0;
            line-height: 130%;
        }
        p {
            font-size: 0.6em;
            font-weight: 300;
            padding: 0;
            margin: 0;
            line-height: 130%;
        }
    }
    .status__view {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 3.5em;
        font-weight: 500;
        background-color: $background_color_4;
        color: $color_4;
        border-radius: 0 3px 3px 0;
    }
}
.about {
    .about__history {
        text-align: center;
        margin: 0;
        padding: 0.5em 0.3em;
        font-size: 0.6em;
        border-radius: 3px 0 0 3px;
        box-shadow: 3px 3px 5px 1px #75a3c7;
        color: $color_4;
        background-color: $background_color_5;
        &:hover {
            background-color: $background_color_6;
            transition: 0.5s;
        }
        h3 {
            font-weight: 400;
        }
    }
    .about__proposals {
        text-align: center;
        margin: 0;
        padding: 0.5em 0.3em;
        font-size: 0.6em;
        border-radius: 0 3px 3px 0;
        box-shadow: 3px 3px 5px 1px #75a3c7;
        color: $color_4;
        background-color: $background_color_2;
        &:hover {
            background-color: $background_color_6;
            transition: 0.5s;
        }
        h3 {
            font-weight: 400;
        }
    }
}

/* Related News Section */
.related {
    position: relative;
    bottom: 3.5em;
    padding-left: 2em;
    .news__title {
        font-weight: 600;
    }
    .news__block {
        display: flex;
        align-items: flex-end;
        width: 10em;
        height: 10em;
        margin-right: 1em;
        margin-bottom: 1em;
        background-color: $background_color_7;
        border-radius: 3px;
        background-size: cover;
        background-position: center;
        background-blend-mode: soft-light;
    }
    .news__caption {
        color: $color_4;
        padding: 0.5em;
        font-size: 0.9em;
    }
    .related__profile {
        margin-top: 4em;
    }
    .profile__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 1em;
        margin-bottom: 1em;
        white-space: nowrap;
    }
    .profile__image {
        width: 5em;
        height: 5em;
        margin-bottom: 0.5em;
        border-radius: 100%;
    }
    .profile__title {
        margin: 0;
        font-size: 0.8em;
        font-weight: 500;
    }
    .profile__caption {
        margin: 0;
        font-size: 0.6em;
        color: $color_3;
    }
}

/* Footer Section */
.footer {
    padding: 0.5em;
    font-size: 0.8em;
    text-align: center;
    color: $color_4;
    background-color: $background_color_2;
}
