body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #303030;
}

main {
    max-width: 768px;
    margin: auto;
}

hr {
    margin: 2em 0;
    border-top: 0.1em solid;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    border-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}

.header .header__logo {
    width: 4em;
}

.header .header__menu,
.header .header__search {
    color: #065b9b;
    cursor: pointer;
    font-size: 1.5em;
}

/* Profile */
.profile .profile__picture {
    width: 100%;
}

/* Summary */
.summary {
    position: relative;
    bottom: 2.3em;
    background-color: #ffffff;
    padding: 2em 2em;
    border-radius: 2.5em 2.5em 0 0;
}

.summary .summary__presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary .summary__title-bold {
    font-weight: 600;
    line-height: 0em;
}

.summary .summary__title-muted {
    font-weight: 300;
    font-size: 0.8em;
    color: #747474;
}

.summary .summary__affiliation {
    display: inline-block;
    background-color: #065b9b;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.3em;
    padding: 0.4em 0.45em;
    border-radius: 100%;
    cursor: default;
}

.summary .summary__desc {
    color: #747474;
    line-height: 1.5em;
}

.summary .info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info .info__block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-weight: 500;
    padding: 0.8em;
    width: 3.6em;
    height: 3.6em;
    background-color: #f2f2f2;
    color: #747474;
    border: 0.2em solid #ffffff;
    border-radius: 3px;
    box-shadow: 0px 0px 0px 1px #f0f0f0;
    margin-bottom: 0.5em;
}

.info .info__block p {
    font-size: 0.7em;
    padding: 0;
    margin: 0;
    line-height: 130%;
}

.summary .status {
    display: flex;
    align-items: center;
    margin-top: 1.5em;
    height: 3.5em;
    border: 0.2em solid #ffffff;
    box-shadow: 0px 0px 0px 1px #f0f0f0;
    border-radius: 3px;
}

.status .status__caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    background-color: #f2f2f2;
    color: #747474;
    border-radius: 3px 0 0 3px;
    height: 3.5em;
    padding: 0;
    margin: 0;
    padding-left: 0.5em;
}

.status .status__caption h4 {
    font-size: 0.7em;
    font-weight: 500;
    padding: 0;
    margin: 0;
    line-height: 130%;
}

.status .status__caption p {
    font-size: 0.6em;
    font-weight: 300;
    padding: 0;
    margin: 0;
    line-height: 130%;
}

.status .status__view {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 3.5em;
    font-weight: 500;
    background-color: #00a297;
    color: #ffffff;
    border-radius: 0 3px 3px 0;
}

.summary .about {
    display: flex;
}

.summary .about a:first-child {
    width: 65%;
}

.summary .about a:last-child {
    width: 35%;
}

.about .about__history {
    text-align: center;
    margin: 0;
    padding: 0.5em 0.3em;
    font-size: 0.6em;
    border-radius: 3px 0 0 3px;
    box-shadow: 3px 3px 5px 1px #75a3c7;
    color: #ffffff;
    background-color: #024273;
}

.about .about__proposals {
    text-align: center;
    margin: 0;
    padding: 0.5em 0.3em;
    font-size: 0.6em;
    border-radius: 0 3px 3px 0;
    box-shadow: 3px 3px 5px 1px #75a3c7;
    color: #ffffff;
    background-color: #065b9b;
}

.about .about__history:hover {
    background-color: #177ac5;
    transition: 0.5s;
}

.about .about__proposals:hover {
    background-color: #177ac5;
    transition: 0.5s;
}

.about .about__proposals h3,
.about .about__history h3 {
    font-weight: 400;
}

/* Related Section */
.related {
    position: relative;
    bottom: 3.5em;
    padding-left: 2em;
}

.related .news__title {
    font-weight: 600;
}

.related .news__block {
    display: flex;
    align-items: flex-end;
    width: 10em;
    height: 10em;
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: #3c89c4;
    border-radius: 3px;
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
}

.related .news__caption {
    color: #ffffff;
    padding: 0.5em;
    font-size: 0.9em;
}

.related .related__profile {
    margin-top: 4em;
}

.related .profile__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1em;
    margin-bottom: 1em;
    white-space: nowrap;
}

.related .profile__image {
    width: 5em;
    height: 5em;
    margin-bottom: 0.5em;
    border-radius: 100%;
}

.related .profile__title {
    margin: 0;
    font-size: 0.8em;
    font-weight: 500;
}

.related .profile__caption {
    margin: 0;
    font-size: 0.6em;
    color: #747474;
}

.footer {
    padding: 0.5em;
    font-size: 0.8em;
    text-align: center;
    color: #ffffff;
    background-color: #065b9b;
}